%margin {
  margin-top: 2.5rem;
}

.homes {
  grid-column: center-start/ center-end;
  margin: 15rem 0;

  //grid container
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: $color-grey-light-1;
  //grid container impl
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  &__img {
    grid-column: 1 /-1;
    grid-row: 1/2;
    width: 100%;
  }

  &__like {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;

    margin: 1rem;
    fill: $color-primary;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
  }

  &__name {
    grid-row: 1 /2;
    grid-column: 1 /-1;
    justify-self: center;
    align-self: end;
    width: 80%;
    z-index: 2;
    transform: translateY(50%);
    font-family: $font-display;
    font-size: 1.6rem;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: #fff;
    text-align: center;
    font-weight: 400;
  }
  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    svg {
      fill: $color-primary;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }

  &__button {
    grid-column: 1 /-1;
  }

  &__location {
    @extend %margin;
  }
  &__rooms {
    @extend %margin;
  }
}
